pwd = 'osc7'
version = 3
shell_integration = true
final_space = true

[palette]
blue = '#82aaff'
blue0 = '#3e68d7'
blue1 = '#65bcff'
blue2 = '#0db9d7'
blue5 = '#89ddff'
blue6 = '#b4f9f8'
blue7 = '#394b70'
comment = '#636da6'
cyan = '#86e1fc'
dark3 = '#545c7e'
dark5 = '#737aa2'
fg = '#c8d3f5'
fg_dark = '#828bb8'
fg_gutter = '#3b4261'
green = '#c3e88d'
green1 = '#4fd6be'
green2 = '#41a6b5'
magenta = '#c099ff'
magenta2 = '#ff007c'
orange = '#ff966c'
purple = '#fca7ea'
red = '#ff757f'
red1 = '#c53b53'
teal = '#4fd6be'
terminal_black = '#444a73'
yellow = '#ffc777'

[transient_prompt]
template = ' '
foreground = 'p:blue5'
background = 'transparent'

[[blocks]]
type = 'rprompt'

[[blocks.segments]]
leading_diamond = ''
template = '{{ if .Error }}{{ .Error }}{{ else }}{{ if .Version }} {{.Version}}{{ end }} {{ if .Name }}{{ .Name }}{{ end }}{{ end }} '
foreground = 'p:fg_gutter'
background = 'p:blue'
type = 'project'
style = 'diamond'

[blocks.segments.properties]
cache_duration = 'none'

[[blocks.segments]]
leading_diamond = ''
template = ' {{ .Full }} '
foreground = 'p:fg'
background = 'p:blue7'
type = 'node'
style = 'diamond'

[blocks.segments.properties]
cache_duration = 'none'

[[blocks]]
type = 'prompt'
alignment = 'left'

[[blocks.segments]]
template = ' {{.Icon}} '
foreground = 'p:fg'
powerline_symbol = ''
background = 'p:blue7'
type = 'os'
style = 'diamond'

[blocks.segments.properties]
cache_duration = 'none'

[[blocks.segments]]
template = '{{ .UserName }}'
foreground = 'p:fg'
powerline_symbol = ''
background = 'p:blue7'
type = 'session'
style = 'diamond'

[blocks.segments.properties]
cache_duration = 'none'

[[blocks.segments]]
template = ' {{ .Path }}'
foreground = 'p:fg_gutter'
powerline_symbol = ''
background = 'p:blue'
type = 'path'
style = 'powerline'

[blocks.segments.properties]
cache_duration = 'none'
folder_icon = '....'
home_icon = '~'
style = 'agnoster_short'

[[blocks.segments]]
template = ' {{ .HEAD }}'
foreground = 'p:fg_gutter'
powerline_symbol = ''
background = 'p:blue5'
type = 'git'
style = 'powerline'

[blocks.segments.properties]
branch_icon = ' '
cache_duration = 'none'
cherry_pick_icon = ' '
commit_icon = ' '
fetch_status = false
fetch_upstream_icon = false
merge_icon = ' '
no_commits_icon = ' '
rebase_icon = ' '
revert_icon = ' '
tag_icon = ' '
